//読み込み
@use "../abstracts/variables" as v;

/*----------------------------------------
	base
----------------------------------------*/
html {
  scroll-behavior: smooth;
}
body {
  color: v.$c_text;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.7;
}

a {
  transition: all 0.3s;
  // color: v.$c_link;
  text-decoration: underline;
}
a:hover {
  opacity: 0.7;
  // color: $c_hover;
}

button {
  display: block;
  width: 100%;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  appearance: none;
}