@use "../abstracts/variables" as v;
@use "../abstracts/mixins"as m;

/* 送信完了メッセージ
------------------------------------------------------ */
.message {
    margin-top: 83px;
    text-align: center;
    &__text {
        & p {
            font-size: 14px;
            line-height: 1.7;
        }
    }
}

@include m.medium {
    .message {
        &__text {
            & p {
                font-size: 16px;
            }
        }
    }
}