@use "../abstracts/variables" as v;
@use "../abstracts/mixins"as m;

/* page-lead
------------------------------------------------------ */
.page-lead {
    color: #1b224c;
    font-weight: 500;
    line-height: 1.7;
}